@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #10051f;
  color: white;
}

.img-container {
  height: 0;
  padding-bottom: 80%;
}

// tooltip starts
.tooltip .tooltip-text {
  visibility: hidden;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}

//tooltip ends
