@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

// General starts
html,
body {
  overflow-x: hidden;
  background-color: theme('colors.dark');
  color: white;
  font-family: 'Ubuntu', sans-serif;
}

h1 {
  @apply lg:text-5xl text-3xl font-bold;
}

h2 {
  @apply lg:text-3xl text-2xl font-medium;
}

h3,
p,
input,
button {
  @apply lg:text-2xl text-base;
}

input {
  color: black;
}

button {
  @apply font-medium py-1.5 px-3.5 rounded-[40px];
}

.img-container {
  height: 0;
  padding-bottom: 56%;
}

.loading {
  animation: extend 2.5s steps(3, end) infinite;
  display: inline-block;
  overflow: hidden;
  vertical-align: bottom;
  &:before {
    content: '...';
  }
}

.small-btn {
  @apply text-base py-2 px-6;
}

.big-btn {
  @apply lg:text-2xl text-base lg:py-4 lg:px-6 py-2 px-6;
}

@keyframes extend {
  0% {
    width: 0.25em;
  }
  100% {
    width: 1em;
  }
}
// General ends

// tooltip starts
.tooltip .tooltip-text {
  visibility: hidden;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}

//tooltip ends

// Toggle Switch
// input[type='checkbox']::before {
// content: '';
//   width: 24px;
//   height: 24px;
//   border-radius: 50%;
//   background: #fff;
//   position: absolute;
//   top: 0;
//   left: 0;
//   transition: 0.5s;
// }

input[type='checkbox']:checked::before {
  content: url('../img/toggle.png');
}
@media only screen and (max-width: 1023px) {
  input[type='checkbox']:checked::before {
    content: url('../img/toggle-small.png');
  }
}

//
.audio-player {
  .controls {
    .panel-button-bg {
      @apply bg-primary rounded-full;
      // background-color: theme('colors.primary');
    }

    p {
      @apply text-base;
    }

    button {
      @apply text-xs;
    }
  }
}

// Footer starts
footer,
.error {
  p {
    @apply text-base;
  }

  span {
    @apply text-xs;
  }
}
// Footer ends
